.months-section {
  width: 100%;
  /* padding: 10px; */
  margin-bottom: 20px;
}

.month-header {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.month-days {
  display: flex;
  flex-wrap: wrap;
}

.month-date {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.month-date.selected {
  background-color: #007bff;
  color: #fff;
}

.months-slider {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.week-day {
  border: 1px solid #ccc;
  width: 18%;
  height: 53px;
  text-align: center;
  cursor: pointer;
}

.week-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.week-name {
  flex: 2;
  text-align: center;
}

.week-day.selected {
  background-color: #007bff;
  color: #fff;
}

.prev,
.next {
  position: absolute;
  background-color: #007bff;
  color: rgb(48, 38, 38);
  border: 1px solid rgb(105, 104, 104);
  font-size: 16px;
  font-weight: bold;
  padding: 17px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  top: 26px;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prevBtn.hidden,
.nextBtn.hidden {
  display: none;
}
