.today-challenges {
  width: 100%;
  text-align: center;
}

.current-day {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #0e4ad5;
  color: aliceblue;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.task-sections {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.task-section {
  position: relative; /* Add relative positioning for dropdown alignment */
  border: 2px solid #820ed5;
  padding: 10px;
  border-radius: 5px;
  width: 32%;
}

.task-section h3 {
  margin-bottom: 4px;
  font-size: 18px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 35px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative; /* Add relative positioning for dropdown alignment */
}

.task-item select {
  padding: 6px;
}

.more-icon {
  cursor: pointer;
}

.task-input input {
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
}

.task-input button {
  padding: 5px 10px;
  float: right;
  display: block;
  border: 1px solid #820ed5;
  border-radius: 4px;
  background-color: #820ed5;
  color: aliceblue;
}

.three-dots-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}

.add:hover {
  opacity: 0.8;
}
.add:active {
  opacity: 0.6;
}

.today-dropdown-menu {
  position: absolute;
  right: 5%;
  background-color: #333;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 0;
}

.today-dropdown-menu button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.today-dropdown-menu button:hover {
  text-decoration: underline;
}