.week-cards {
  display: flex;
  align-items: center;
  position: relative;
}

.week-card {
  position: relative;
  flex: 1;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.week-card:hover {
  background-color: #eaeaea;
}

.week-card.selected {
  background-color: #0e4ad5;
  color: #fff;
  
}

.prevBtn,
.nextBtn {
  position: absolute;
  background-color: #007bff;
  color: rgb(48, 38, 38);
  border: 1px solid rgb(105, 104, 104);
  font-size: 16px;
  font-weight: bold;
  padding: 22px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
}

.prevBtn {
  left: 0px;
}

.nextBtn {
  right: 0;
}

.prevBtn.hidden,
.nextBtn.hidden {
  display: none;
}

@media (max-width: 1100px) {
  .weeks-section{
    font-size: 0.7rem;
  }
}
@media (max-width: 800px) {
  .week-card{
    display: flex;
  }
  .weeks-section{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .week-card {

    display: none; /* Hide all day cards by default on smaller screens */

  }
  .week-cards{
    flex-direction: column;
    align-items: stretch;
  }
  
  .week-card.selected,
  .week-card.yesterday,
  .week-card.tomorrow {
    display: block; /* Show only the selected, yesterday, and tomorrow day cards */


  }

  .weeks-section {
    display: flex;
    flex-direction: column;
  }
}
