.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-profile {
  position: relative;
}

.profile-icon {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  bottom: -200%;
  right: 0;
  background-color: #333;
  padding: 4px 6px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.dropdown-menu button:hover {
  text-decoration: underline;
}
